/* RESET */
$font-size: 1.6rem;
$line-height: 1.8rem;

* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 62.5%;
}

body {
  font-size: $font-size;
  background: white;
  color: black;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* WORLD */
.world {
  display: flex;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  margin: 0 auto;
}

.table {
  /* height: 37.2rem; */
  margin-top: ($font-size / 2);
  justify-content: space-evenly;
}

/* BOARD */
$hole-size: ($font-size * 4);

.board {
  border: 1px solid black;
  border-left: none;
}

.board > .row + .row {
  border-top: 1px solid black;
}

.space {
  width: $hole-size;
  height: $hole-size;
}

.space.empty {
  border-left: 1px solid black;
}

.space.white:after {
  content: '\022A1';
  font-size: ($font-size * 4);
}

.space.black:after {
  content: '\02299';
  font-size: ($font-size * 4);
}

/* STATS */
.button {
  width: $hole-size;
  height: $hole-size;
  border: 1px solid black;
  border-radius: ($hole-size / 8);
  background: white;
}

.reset:after {
  content: '\021bb';
  font-size: ($font-size * 2);
}

/* NOTES */
.note {
  font-size: $font-size;
  line-height: $line-height;
  margin: $font-size;
}

.note > h3 {
  font-size: $font-size;
  margin-bottom: ($font-size / 2);
}

.note > ol {
  list-style-position: inside;
}
