/* RESET */
$font-size: 1.6rem;
$line-height: 1.8rem;

* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 62.5%;
}

body {
  font-size: $font-size;
  background: white;
  color: black;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* WORLD */
.world {
  display: flex;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  margin: 0 auto;
}

.table {
  /* height: 37.2rem; */
  margin-top: ($font-size / 2);
  justify-content: space-evenly;
}

/* FEEDBACK */
.pickable.button {
  box-shadow: .2rem .2rem .5rem rgba(0,0,0,.3);
}

.picked,
.picked:after {
  box-shadow: none !important;
}

/* BOARD */
$hole-size: ($font-size * 4);

.board {
  border: 1px solid black;
  border-left: none;
}

.board > .row + .row {
  border-top: 1px solid black;
}

.space {
  width: $hole-size;
  height: $hole-size;
}

.space.empty {
  border-left: 1px solid black;
}

.space.x,
.space.y {
  position: relative;
}

.space.x:before,
.space.y:before {
  content: '';
  width: ($font-size / 2);
  height: ($font-size / 2);
  background: black;
  position: absolute;
  left: (($hole-size / 2) - ($font-size / 4));
  top: (($hole-size / 2) - ($font-size / 4));
}

.space.y:before {
  border-radius: 50%;
}

.space.x:after,
.space.y:after {
  content: '';
  border: .4rem solid black;
  width: ($hole-size / 2);
  height: ($hole-size / 2);
}

.space.x:after {
  box-shadow: .2rem .2rem .5rem rgba(0,0,0,.3);
}

.space.y:after {
  border-radius: 50%;
}

/* STATS */
.button {
  width: $hole-size;
  height: $hole-size;
  border: 1px solid black;
  border-radius: ($hole-size / 8);
  background: white;
}

.reset:after {
  content: '\021bb';
  font-size: ($font-size * 2);
  font-weight: bold;
}

/* NOTES */
.note {
  font-size: $font-size;
  line-height: $line-height;
  margin: $font-size;
}

.note > h3 {
  font-size: $font-size;
  margin-bottom: ($font-size / 2);
}

.note > ol {
  list-style-position: inside;
}

/* COLOPHON */
.colophon {
  margin: $font-size .5rem ($font-size / 2) .5rem;
  font-size: 1rem;
  line-height: 1rem;
  color: rgba(0,0,0,.55);
  text-align: right;
}

.colophon > a:hover {
  cursor: auto;
  text-decoration: underline;
}

abbr[title="and"] {
  font-family: "Adobe Caslon Pro","Baskerville","Goudy Old Style","Palatino", "Palatino Linotype","Book Antiqua","Georgia","Times New Roman","Times", serif;
  font-style: italic;
  text-decoration: none;
  font-size: 110%;
  cursor: auto;
  /* Prevents `abbr` affecting the `line-height`. */
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
